
.OverviewRapportViewerAccounts {
    list-style-type: none;
    padding: 0;
}

.OverviewRapportViewerAccount {
}

.LabeledNumberRow {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
}

.TotalUnbookedTransactions {
    font-size: smaller;
    color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

