
.OverviewRapportViewerAccounts {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.OverviewRapportViewerAccount {
    display: flex;
    flex-direction: column;
}

.OverviewRapportViewerAccountSummary {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.OverviewRapportViewerAccountSummaryLevel {
    font-size: 0;
}

.OverviewRapportViewerAccountSummaryMainContainer {
    display: flex;
    flex-direction: column;
    background-color: #252525;
    border-radius: 15px;
    margin: 5px 0 5px 0;
    padding: 10px;
    width: 100%;
}

.OverviewRapportViewerAccountSummaryMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.OverviewRapportViewerAccountSummaryLeft {
    font-size: larger;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.OverviewRapportViewerAccountSummaryRight {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.TotalUnbookedTransactions {
    font-size: smaller;
    color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

