
.HeaderLine {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Bookings {
    list-style-type: none;
    padding-left: 0;
}

.Booking {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.BookingHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.BookingHeaderSummary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.BookingRecords {
    list-style-type: none;
}

.BookingRecord {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.BookingRecordLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.BookingRecordRight {
    display: flex;
    flex-direction: row;
    align-items: center;
}