
.Bookings {
    list-style-type: none;
    padding: 0;
}

.BookingEntries {
    list-style-type: none;
    padding: 0;
}

.BookingEntry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Booking {
    display: flex;
    flex-direction: column;
    background-color: #252525;
    border-radius: 15px;
    margin: 10px 0 10px 0;
    padding: 10px;
}

