
.Bookings {
    list-style-type: none;
    padding: 0;
}

.BookingEntryContainer {
    display: flex;
    flex-direction: row;
    background-color: #252525;
    align-items: center;
    border-radius: 15px;
    margin: 10px 0 10px 0;
    padding: 10px;
}
.BookingEntryLeft {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.BookingEntryRight {
    display: flex;
    flex-direction: column;
    width: 40px;
}

.BookingEntrySummary  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.UnbookedEntryContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #533c3c;
    border-radius: 15px;
    margin: 10px 0 10px 0;
    padding: 10px;
}
.UnbookedEntry {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.UnbookedSummary  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.UnbookedRight {
    display: flex;
    flex-direction: column;
    width: 40px;
    justify-content: flex-end;
}

.OtherEntries {
    border-top: #a4a4a4 1px solid;
    list-style-type: none;
    padding-left: 0;
    margin-top: 10px;
    padding-top: 10px;
    color: #a4a4a4;
}

.OtherEntry {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Sums {
    background-color: #252525;
    border-radius: 15px;
    margin: 10px 0 10px 0;
    padding: 10px;
    display: flex;
    flex-direction: column;
    color: #a4a4a4;
}

.Sum {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}