
.RecordUl {
    list-style-type: none;
    padding-left: 15px;
}

.RecordLi {
    margin-top: 20px;
}

.RecordInEdit {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #212121;
    border-radius: 15px;
}
.RecordInEditLeft {
    width: 100%;
}
.RecordInEditRight {

}

.RecordInViewPositiveAmount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    padding: 10px;
    background-color: #212121;
    border-radius: 15px;
}
.RecordInViewNegativeAmount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    padding: 10px;
    background-color: #212121;
    border-radius: 15px;
}

.RecordInViewLeft {
    display: flex;
    flex-direction: column;
}
.RecordInViewRight {}