

.Candidates {
    list-style-type: none;
    padding-left: 0;
}

.AllMatchers {
    list-style-type: none;
    padding-left: 0;
}

.Candidate {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.Matcher {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.FilterLine {
    display: flex;
    flex-direction: row;
}
