
.HeaderAsLink {
    cursor: pointer;
    text-align: center;
}

.HeaderNoLink {
    text-align: center;
    margin: 0;
}

.SubHeader {
    margin: 0;
    text-align: center;
    color: #a4a4a4;
}

.Header {
    display: flex;
    flex-direction: column;
}

.HeaderButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.HeaderButtonsLeft {
}

.HeaderButtonsRight {

}

.HeaderConnectionStatus {

}