
.HeaderAsLink {
    cursor: pointer;
    text-align: center;
}

.HeaderNoLink {
    text-align: center;
}

.Header {
    display: flex;
    flex-direction: column;
}

.HeaderButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.HeaderButtonsLeft {
}

.HeaderButtonsRight {

}

.HeaderConnectionStatus {

}