
.BankAccounts {
    list-style-type: none;
    padding: 0;
}

.BankAccount {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
    background-color: #3f3f3f;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.BankAccountLeft {
    display: flex;
    flex-direction: column;
}
.BankAccountRight {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.BankAccountLeft01 {
    font-size: x-large;
    font-weight: bold;
}
.BankAccountLeft02 {
    font-size: smaller;
}

.BankAccountRight01 {
    font-size: smaller;
    color: yellow;
}
.BankAccountRight02 {
    font-size: x-large;
    font-weight: bold;
}
.BankAccountRight03 {
    font-size: smaller;
}
